@charset "UTF-8";
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    padding: 30px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
}

.right {
    flex: 2;
    padding: 30px;
    background-color: #fafafa;
}