/* ==============================
   リセット・共通設定
   ============================== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #a0d878;
    font-family: "Segoe UI", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #333;
	background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.7)),url("../images/library.jpg");
	background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
}

/* ==============================
   見出し
   ============================== */
h1 {
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 24px;
    color: #2c3e50;
}

/* ログイン表示 */
.login.ok {
    color: green;
    font-weight: bold;
}

.login.ng {
    color: red;
    font-weight: bold;
}

/* メニュー中央揃え */
.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.menu form {
    margin: 0;
}

.container {
    margin: 0 auto;
    text-align: center; /* または内部要素に適用 */
}

.hover-img {
    width: 120px;
    height: 120px;
    background-image: url("../images/matu.png");
    background-size: cover;
    background-position: center;
	border-radius: 50%;
}

.hover-img:hover {
    background-image: url("../images/matui.png");
	border-radius: 50%;
}

img{
	width: 100px;
	height: auto;
	border-radius: 50%;
}