@charset "UTF-8";
body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 上寄せに変更 */
    align-items: center; /* 横中央 */
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}



table {
    border-collapse: collapse;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    margin-top: 40px; /* 追加 */
}

td {
    padding: 10px 20px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background-color: #eee;
}
