@charset "UTF-8";

/* ==============================
   テーブルスクロール領域
   ============================== */
.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
}

/* ==============================
   テーブル共通（内容幅に合わせる）
   ============================== */
   table {
       width: auto;
       display: inline-table;
       margin: 20px auto;
   }


/* ==============================
   ヘッダー固定
   ============================== */
thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

/* ==============================
   セル共通
   ============================== */
   /* 検索エリアの th を中央揃え */
   table th {
       vertical-align: middle;   /* ★ 縦ズレ解消 */
       text-align: center;       /* 横も統一 */
   }
   td {
       padding: 0.1px 8px;   /* 上下4px / 左右8px */
       text-align: left;
   }

/* ==============================
   行装飾
   ============================== */
   /* 既存 */
   .rental-table {
       background-color: rgba(205,230,199, 0.8);
   }

   .rental-table th,
   .rental-table td {
       color: #000;
       text-shadow:
           -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
           -1px  1px 0 #ffffff,
            1px  1px 0 #ffffff;
   }

   /* ここから追加 */

   /* 奇数行 */
   .rental-table tbody tr:nth-child(odd) {
       background-color: rgba(64,	186,141, 0.6);
   }

   /* 偶数行 */
   .rental-table tbody tr:nth-child(even) {
       background-color: rgba(185,215,175, 0.6);
   }